<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-color:rgb(180, 154, 83);}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Place</th>
            <th>actions</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Place}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>