<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-color:rgb(146, 231, 174);}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            
            <th>Name</th>
            <th>Model</th>
            <th>Price</th>
        </tr>
        {% for det in detail %}
        <tr>
            
            <td>{{det.Imagename}}</td>
            <td>{{det.Model}}</td>
            <td>{{det.Price}}</td>
            
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>